<!-- <%- include('../partials/header') %>

<h2>Appointment List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Appointment Type</th>
      <th>Correct Information</th>
    </tr>
  </thead>
  <tbody> -->
    <!-- Write the line of EJS to iterate over salon using forEach -->
    <!-- <% salon.forEach(function(s) { %>
      <tr>
        <td><%= s.Name %></td>
        <td><%= s.Date %></td>
        <td><%= s.AppointmentType %></td>
        <td><%= s.CorrectInformation %></td>
        <td><a href="/salons/<%= s._id %>">DETAILS</a></td>       
        <td><%= s.CorrectInformation ? 'Yes' : 'Nope' %></td> 
        </tr>
      <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer') %> -->