<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% salons.forEach(function(s) { %>
      <tr>
        <td><%= s.Name %></td>
        <td><%= s.Date %></td>
        <td><a href="/salons/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  
  </table>
  
<%- include('../partials/footer') %>