<!-- <%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div>
      <%= salon.Name %>
    </div>
    <div>Date: </div>
    <div>
      <%= salon.Date %>
    </div>
    <div>AppointmentType: </div>
    <div>
      <%= salon.AppointmentType %>
    </div>
    <div>Correct Information: </div>
    <div>
      <%= salon.CorrectInformation ? 'Yes' : 'Nope' %>
    </div>
  </section>

<%- include('../partials/footer') %>  -->