<%- include('../partials/header') %>

  <section id="show-page">
    <div class="margin-top-10">Name: <%= salon.Name %></div>
    <div class="margin-top-10">Date: <%= salon.Date %></div>
    <div class="margin-top-10">Appointment Type: <%= salon.AppointmentType %></div>
    <div class="margin-top-10">Correct Information: <%= salon.CorrectInformation ? 'Yes' : 'Nope' %></div>
  </section> 

  <!-- Reviews show page -->
  <div class="text-align-center">
    <h2>Reviews</h2>
  </div>

  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/salons/<%= salon._id %>/reviews" class="text-align-center">
      <div class="div-display margin-top-10">
        <label>Review:</label>
        <textarea name="Content" class="text-area-height"></textarea>
      </div>
      <div class="margin-top-10">
        <label>Rating:</label>
        <select name="Rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
      </div>
      <div class="margin-top-10">
        <input type="submit" value="Add Review">
      </div>
    </form>
    <% } else { %>
      <p>Please Login to leave a review</p>
    <% } %>
  </form>

   <!-- // Create a list of reviews  -->
   <% if (salon.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% salon.reviews.forEach(function(r) { %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <!-- <td>
              <%= r.createdAt.toLocaleDateString() %>
            </td> -->
            <td>
              <%= r.Content %>
            </td>
            <td>
              <%= r.Rating %>
            </td>
            <td>
              <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                
              <% } %>
            </td>
            <td>
              <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                <!-- Value attribute is being set to the comment's current text -->
                <input name="Content" value="<%= r.Content %>">
                <button type="submit">Edit Review</button>
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5 class="text-align-center ">No Reviews Yet</h5>
      <% } %>
  

  <%- include('../partials/footer') %>