<%- include('../partials/header') %>

  <section id="show-page">
    <div>Name: <%= salon.Name %></div>
    <div>Date: <%= salon.Date %></div>
    <div>Appointment Type: <%= salon.AppointmentType %></div>
    <div>Correct Information: <%= salon.CorrectInformation ? 'Yes' : 'Nope' %></div>
  </section>

  <!-- Reviews show page -->
  <br><br>
  <h2>Reviews</h2>

  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/salons/<%= salon._id %>/reviews">
      <label>Review:</label>
      <textarea name="Content"></textarea>
      <br>
      <label>Rating:</label>
      <select name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
    <% } else { %>
      <p>Please Login to leave a review</p>
    <% } %>

  </form>

   <!-- // Create a list of reviews  -->
   <% if (salon.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% salon.reviews.forEach(function(r) { %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td>
              <%= r.createdAt.toLocaleDateString() %>
            </td>
            <td>
              <%= r.Content %>
            </td>
            <td>
              <%= r.Rating %>
            </td>
            <td>
              <% if (user && user._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                
              <% } %>
            </td>
            <td>
              <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                <!-- Value attribute is being set to the comment's current text -->
                <input name="text" value="<%= r.Content %>">
                <button type="submit">UPDATE REVIEW</button>
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
  

  <%- include('../partials/footer') %>