<%- include('../partials/header') %>

<section id="show-page">
    <br>
  <div>Name: <%= salon.Name %></div>
  <div>Date: <%= salon.Date %></div>
  <div>AppointmentType: <%= salon.Appointment %></div>
  <div>Now Boarding: <%= salon.CorrectInformation ? 'Yes' : 'Nope' %></div>
</section>

<%- include('../partials/footer') %> 